.flows_DESKTOP.json.backup
[{"id":"525eb504.32348c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8cb6d26c.7a322","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"4755047a.872acc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"3fd265d4.ce31f2","type":"Server_Def","z":"","name":"Siemens OPC UA Server","Server_Type":"opc_ua"},{"id":"3fb8f17e.6e90c6","type":"Equip_Def_Digital","z":"","name":"Digital Equipent Type Reception Line ","options":[{"label":"Reception Digital 1"},{"label":"Reception Digital 2"}]},{"id":"cfb5d864.aca178","type":"Equip_Def_Analog","z":"","name":"Analog Equipent Type Reception Line ","options":[{"label":"Reception Analog 1 Int","type":"Int"},{"label":"Reception Analog 2 Dword","type":"Dword"},{"label":"Reception Analog 3 Float","type":"Real"}]},{"id":"8dcb816e.d5b6c8","type":"Equip_Def_Alarms","z":"","name":"Alarms Equipent Type Reception Line ","options":[{"label":"Tableau Alarm","type":"Real"}]},{"id":"ed29d442.be759","type":"Equip_Def_Carto","z":"","name":"Carto Equipent Type Reception Line ","options":[{"label":"Priming Reception line","type":"PInit"},{"label":"Water PushReception line","type":"PFinal"}]},{"id":"1b13c9d7.5dc8e6","type":"Equip_Def","z":"","name":"Equipent Type Reception Line ","Equip_Def_Digital":"3fb8f17e.6e90c6","Equip_Def_Analog":"cfb5d864.aca178","Equip_Def_Alarms":"8dcb816e.d5b6c8","Equip_Def_Carto":"ed29d442.be759","Equip_Def_EventList":"f8f80f7a.3def2"},{"id":"c0b8a77a.b78bf8","type":"fifo_Def","z":"","name":"Fifo Event Function","options":[{"label":"In_Emptying","type":"Bool","action":"Write_In_Empying"},{"label":"In_Fifo_Len_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Fifo_Data_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Plc_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Nb","type":"Int","action":"NotUsed"},{"label":"In_SubFunction_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Begin","type":"Bool","action":"NotUsed"},{"label":"In_Data1","type":"Real","action":"NotUsed"},{"label":"In_Data2","type":"Real","action":"NotUsed"},{"label":"In_Data3","type":"Real","action":"NotUsed"},{"label":"In_Data4","type":"Real","action":"NotUsed"},{"label":"In_Data5","type":"Real","action":"NotUsed"},{"label":"In_Data6","type":"Real","action":"NotUsed"},{"label":"In_Data7","type":"Real","action":"NotUsed"},{"label":"In_Data8","type":"Real","action":"NotUsed"},{"label":"In_Data9","type":"Real","action":"NotUsed"},{"label":"In_Data10","type":"Real","action":"NotUsed"},{"label":"Out_Ok_To_Read","type":"Bool","action":"Read_Ok_To_Read"},{"label":"Out_Pile_Length","type":"Int","action":"Read_Pile_Length"},{"label":"Out_Plc_Nb","type":"Int","action":"Read_Plc_Nb"},{"label":"Out_Function_Nb","type":"Int","action":"Read_Function_Nb"},{"label":"Out_SubFunction_Nb","type":"Int","action":"Read_SubFunct_Nb"},{"label":"Out_Function_Begin","type":"Bool","action":"Read_Funct_Begin"},{"label":"Out_Data1","type":"Real","action":"Read_Data"},{"label":"Out_Data2","type":"Real","action":"Read_Data"},{"label":"Out_Data3","type":"Real","action":"Read_Data"},{"label":"Out_Data4","type":"Real","action":"Read_Data"},{"label":"Out_Data5","type":"Real","action":"Read_Data"},{"label":"Out_Data6","type":"Real","action":"Read_Data"},{"label":"Out_Data7","type":"Real","action":"Read_Data"},{"label":"Out_Data8","type":"Real","action":"Read_Data"},{"label":"Out_Data9","type":"Real","action":"Read_Data"},{"label":"Out_Data10","type":"Real","action":"Read_Data"},{"label":"Out_Raz_Pile","type":"Bool","action":"Write_Raz"},{"label":"Out_Read_Data_Done","type":"Bool","action":"Write_Read_Done"}]},{"id":"7878d2c4.533134","type":"fifo_Def","z":"","name":"Fifo Event Function + String","options":[{"label":"In_Emptying","type":"Bool","action":"Write_In_Empying"},{"label":"In_Fifo_Len_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Fifo_Data_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Plc_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Nb","type":"Int","action":"NotUsed"},{"label":"In_SubFunction_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Begin","type":"Bool","action":"NotUsed"},{"label":"In_Data1","type":"Real","action":"NotUsed"},{"label":"In_Data2","type":"Real","action":"NotUsed"},{"label":"In_Data3","type":"Real","action":"NotUsed"},{"label":"In_Data4","type":"Real","action":"NotUsed"},{"label":"In_Data5","type":"Real","action":"NotUsed"},{"label":"In_Data6","type":"Real","action":"NotUsed"},{"label":"In_Data7","type":"Real","action":"NotUsed"},{"label":"In_Data8","type":"Real","action":"NotUsed"},{"label":"In_Data9","type":"Real","action":"NotUsed"},{"label":"In_Data10","type":"Real","action":"NotUsed"},{"label":"Out_Ok_To_Read","type":"Bool","action":"Read_Ok_To_Read"},{"label":"Out_Pile_Length","type":"Int","action":"Read_Pile_Length"},{"label":"Out_Plc_Nb","type":"Int","action":"Read_Plc_Nb"},{"label":"Out_Function_Nb","type":"Int","action":"Read_Function_Nb"},{"label":"Out_SubFunction_Nb","type":"Int","action":"Read_SubFunct_Nb"},{"label":"Out_Function_Begin","type":"Bool","action":"Read_Funct_Begin"},{"label":"Out_String1","type":"Real","action":"Read_String"},{"label":"Out_String2","type":"Real","action":"Read_String"},{"label":"Out_String3","type":"Real","action":"Read_String"},{"label":"Out_Data1","type":"Real","action":"Read_Data"},{"label":"Out_Data2","type":"Real","action":"Read_Data"},{"label":"Out_Data3","type":"Real","action":"Read_Data"},{"label":"Out_Data4","type":"Real","action":"Read_Data"},{"label":"Out_Data5","type":"Real","action":"Read_Data"},{"label":"Out_Data6","type":"Real","action":"Read_Data"},{"label":"Out_Data7","type":"Real","action":"Read_Data"},{"label":"Out_Data8","type":"Real","action":"Read_Data"},{"label":"Out_Data9","type":"Real","action":"Read_Data"},{"label":"Out_Data10","type":"Real","action":"Read_Data"},{"label":"Out_Raz_Pile","type":"Bool","action":"Write_Raz"},{"label":"Out_Read_Data_Done","type":"Bool","action":"Write_Read_Done"}]},{"id":"a1c61c89.30041","type":"fifo_Def","z":"","name":"Fifo Event RealTime","options":[{"label":"In_Emptying","type":"Bool","action":"Write_In_Empying"},{"label":"In_Fifo_Len_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Fifo_Data_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Plc_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Nb","type":"Int","action":"NotUsed"},{"label":"In_SubFunction_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Begin","type":"Bool","action":"NotUsed"},{"label":"In_Data1","type":"Real","action":"NotUsed"},{"label":"In_Data2","type":"Real","action":"NotUsed"},{"label":"In_Data3","type":"Real","action":"NotUsed"},{"label":"In_Data4","type":"Real","action":"NotUsed"},{"label":"In_Data5","type":"Real","action":"NotUsed"},{"label":"In_Data6","type":"Real","action":"NotUsed"},{"label":"In_Data7","type":"Real","action":"NotUsed"},{"label":"In_Data8","type":"Real","action":"NotUsed"},{"label":"In_Data9","type":"Real","action":"NotUsed"},{"label":"In_Data10","type":"Real","action":"NotUsed"},{"label":"Out_Ok_To_Read","type":"Bool","action":"Read_Ok_To_Read"},{"label":"Out_Pile_Length","type":"Int","action":"Read_Pile_Length"},{"label":"Out_Plc_Nb","type":"Int","action":"Read_Plc_Nb"},{"label":"Out_Function_Nb","type":"Int","action":"Read_Function_Nb"},{"label":"Out_SubFunction_Nb","type":"Int","action":"Read_SubFunct_Nb"},{"label":"Out_Function_Begin","type":"Bool","action":"Read_Funct_Begin"},{"label":"Out_Data1","type":"Real","action":"Read_Data"},{"label":"Out_Data2","type":"Real","action":"Read_Data"},{"label":"Out_Data3","type":"Real","action":"Read_Data"},{"label":"Out_Data4","type":"Real","action":"Read_Data"},{"label":"Out_Data5","type":"Real","action":"Read_Data"},{"label":"Out_Data6","type":"Real","action":"Read_Data"},{"label":"Out_Data7","type":"Real","action":"Read_Data"},{"label":"Out_Data8","type":"Real","action":"Read_Data"},{"label":"Out_Data9","type":"Real","action":"Read_Data"},{"label":"Out_Data10","type":"Real","action":"Read_Data"},{"label":"Out_Raz_Pile","type":"Bool","action":"Write_Raz"},{"label":"Out_Read_Data_Done","type":"Bool","action":"Write_Read_Done"}]},{"id":"95bafe7c.0c5a","type":"fifo_Def","z":"","name":"Fifo Event Alarm Group","options":[{"label":"In_Emptying","type":"Bool","action":"Write_In_Empying"},{"label":"In_Fifo_Len_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Fifo_Data_Maxi","type":"Int","action":"NotUsed"},{"label":"In_Plc_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Nb","type":"Int","action":"NotUsed"},{"label":"In_SubFunction_Nb","type":"Int","action":"NotUsed"},{"label":"In_Function_Begin","type":"Bool","action":"NotUsed"},{"label":"In_Data1","type":"Real","action":"NotUsed"},{"label":"In_Data2","type":"Real","action":"NotUsed"},{"label":"In_Data3","type":"Real","action":"NotUsed"},{"label":"In_Data4","type":"Real","action":"NotUsed"},{"label":"In_Data5","type":"Real","action":"NotUsed"},{"label":"In_Data6","type":"Real","action":"NotUsed"},{"label":"In_Data7","type":"Real","action":"NotUsed"},{"label":"In_Data8","type":"Real","action":"NotUsed"},{"label":"In_Data9","type":"Real","action":"NotUsed"},{"label":"In_Data10","type":"Real","action":"NotUsed"},{"label":"Out_Ok_To_Read","type":"Bool","action":"Read_Ok_To_Read"},{"label":"Out_Pile_Length","type":"Int","action":"Read_Pile_Length"},{"label":"Out_Plc_Nb","type":"Int","action":"Read_Plc_Nb"},{"label":"Out_Function_Nb","type":"Int","action":"Read_Function_Nb"},{"label":"Out_SubFunction_Nb","type":"Int","action":"Read_SubFunct_Nb"},{"label":"Out_Function_Begin","type":"Bool","action":"Read_Funct_Begin"},{"label":"Out_Alarm1_16Bit","type":"Array_16B","action":"Read_Array16B"},{"label":"Out_Alarm2_16Bit","type":"Array_16B","action":"Read_Array16B"},{"label":"Out_Raz_Pile","type":"Bool","action":"Write_Raz"},{"label":"Out_Read_Data_Done","type":"Bool","action":"Write_Read_Done"}]},{"id":"de2ed5cb.3a307","type":"Equip_Def_EventM","z":"","name":"Usage Pasto","options":[{"label":"Time Usage","type":"Real"}]},{"id":"f8f80f7a.3def2","type":"Equip_Def_EventList","z":"","name":"EventList Equipent Type Reception Line ","Equip_Def_EventM":"15e3ab40.4ea165","fifo_Def":"95bafe7c.0c5a","options":[{"label":"52a563ce.d5b6fc","eventNb":"1","type":"95bafe7c.0c5a"},{"label":"faca1957.733d2","eventNb":"2","type":"95bafe7c.0c5a"},{"label":"15e3ab40.4ea165","eventNb":"3","type":"95bafe7c.0c5a"}]},{"id":"ac080ae6.e4202","type":"Equip_Def","z":"","name":"Pasteurizer Default","Equip_Def_Digital":"c5630b26.ff7e","Equip_Def_Analog":"6c3bbcae.bbba0c","Equip_Def_Alarms":"a45df4fe.3b304","Equip_Def_Carto":"48890db6.0a8d4c","Equip_Def_EventList":"b6bd5cfa.b8dfa"},{"id":"c5630b26.ff7e","type":"Equip_Def_Digital","z":"","name":"Pasteurizer Default Digital","options":[{"label":"Pasto Digital 1"},{"label":"Pasto Digital 2"},{"label":"Pasto Digital 3"}]},{"id":"6c3bbcae.bbba0c","type":"Equip_Def_Analog","z":"","name":"Pasteurizer Default Analog","options":[{"label":"Pasto Analog Real 1","type":"Real"},{"label":"Pasto Analog int 2","type":"Int"},{"label":"Pasto Analog Dword 3","type":"Dword"}]},{"id":"a45df4fe.3b304","type":"Equip_Def_Alarms","z":"","name":"Pasteurizer Default Alarms","options":[{"label":"Pasteurizer Default Alarms real 1","type":"Real"},{"label":"Pasteurizer Default Alarms int 2","type":"Int"},{"label":"Pasteurizer Default Alarms dword 3","type":"Dword"}]},{"id":"48890db6.0a8d4c","type":"Equip_Def_Carto","z":"","name":"Pasteurizer Default Carto","options":[{"label":"Pasteurizer Default Carto initial","type":"PInit"},{"label":"Pasteurizer Default Carto Final","type":"PFinal"},{"label":"Pasteurizer Default Carto Tank","type":"Tank"}]},{"id":"b6bd5cfa.b8dfa","type":"Equip_Def_EventList","z":"","name":"Pasteurizer Default EventList","Equip_Def_EventM":"de2ed5cb.3a307","fifo_Def":"95bafe7c.0c5a","options":[{"label":"de2ed5cb.3a307","eventNb":"1","type":"c0b8a77a.b78bf8"},{"label":"cfae5a3a.854368","eventNb":"2","type":"7878d2c4.533134"}]},{"id":"cfae5a3a.854368","type":"Equip_Def_EventM","z":"","name":"Production Pasto","options":[{"label":"","type":"PInit"}]},{"id":"faca1957.733d2","type":"Equip_Def_EventM","z":"","name":"Production Reception line","options":[{"label":"Time Production Reception line","type":"Real"},{"label":"Tank Selected Production Reception line","type":"Real"},{"label":"Quantity send Production Reception line","type":"Real"}]},{"id":"66ca960.5acee6c","type":"Equip_Def_EventM","z":"","name":"CIP Pasto","options":[{"label":"","type":"PInit"}]},{"id":"15e3ab40.4ea165","type":"Equip_Def_EventM","z":"","name":"CIP reception line","Equip_Def_EventS":"5997912e.7d0c1","options":[{"label":"Time CIP Reception line","eventNb":"1","action":"B","type":"Real"}]},{"id":"52a563ce.d5b6fc","type":"Equip_Def_EventM","z":"","name":"Usage Reception line","Equip_Def_EventS":"7dd8fc42.421994","options":[{"label":"Time usage Reception line","action":"B","type":"Real"}]},{"id":"5997912e.7d0c1","type":"Equip_Def_EventS","z":"","name":"Event Second Production Priming Mass line","options":[{"label":"Function 1 Event Second","action":"B","type":"Real"},{"label":"Function 2 Event Second","action":"E-B","type":"Real"}]},{"id":"7dd8fc42.421994","type":"Equip_Def_EventS","z":"","name":"Event Second Usage In CIP","options":[{"label":"Data1 Function 2 Event Second","action":"B","type":"Real"},{"label":"Data2 Function 2 Event Second","action":"B","type":"Real"}]},{"id":"fcebda19.560b78","type":"Equip_Def","z":"","name":"Type Filler Arcil","Equip_Def_Digital":"2c418971.6e5736","Equip_Def_Analog":"480e7a5c.ce8344","Equip_Def_Alarms":"c7f62a23.cf9708","Equip_Def_Carto":"57c379c7.157538","Equip_Def_EventList":"d808c3d7.9113a"},{"id":"d808c3d7.9113a","type":"Equip_Def_EventList","z":"","name":"Event Filler Arcil Type","Equip_Def_EventM":"3091b81e.642488","fifo_Def":"95bafe7c.0c5a","options":[{"label":"3091b81e.642488","eventNb":"1","type":"c0b8a77a.b78bf8"},{"label":"ab5ca52e.e41a48","eventNb":"2","type":"7878d2c4.533134"}]},{"id":"2c418971.6e5736","type":"Equip_Def_Digital","z":"","name":"Digital Filler Arcil Type","options":[{"label":""}]},{"id":"480e7a5c.ce8344","type":"Equip_Def_Analog","z":"","name":"Analog Filler Arcil Type","options":[{"label":"","type":"Real"}]},{"id":"c7f62a23.cf9708","type":"Equip_Def_Alarms","z":"","name":"Group Alarms Filler Arcil Type","options":[{"label":"","type":"Real"}]},{"id":"57c379c7.157538","type":"Equip_Def_Carto","z":"","name":"Carto Filler Arcil Type","options":[{"label":"","type":"PInit"}]},{"id":"3091b81e.642488","type":"Equip_Def_EventM","z":"","name":"Event Usage Main Filler Arcil Type","Equip_Def_EventS":"7dd8fc42.421994","fifo_Def":"95bafe7c.0c5a","options":[{"Data":[{"label":"Temps Usage total","action":"B","type":"Real"}],"SubFunct":[{"label":"7dd8fc42.421994","eventNb":"1","type":"c0b8a77a.b78bf8"},{"label":"42d72cf0.9c5af4","eventNb":"2","type":"c0b8a77a.b78bf8"},{"label":"d4ada469.da8da8","eventNb":"3","type":"c0b8a77a.b78bf8"}]}]},{"id":"ab5ca52e.e41a48","type":"Equip_Def_EventM","z":"","name":"Event Production Main Arcil Type","Equip_Def_EventS":"172ba194.a9dfee","fifo_Def":"95bafe7c.0c5a","options":[{"Data":[{"label":"OF number","action":"B","type":"String"},{"label":"Mass Number","action":"B","type":"String"},{"label":"Fruit Number","action":"B","type":"String"},{"label":"Quantity of Mass","action":"E-B","type":"Real"},{"label":"Quantity of fruit","action":"E-B","type":"Real"},{"label":"Number stroke Arcil","action":"E-B","type":"Real"}],"SubFunct":[{"label":"5997912e.7d0c1","eventNb":"1","type":"7878d2c4.533134"},{"label":"399f513a.a9fede","eventNb":"2","type":"7878d2c4.533134"},{"label":"172ba194.a9dfee","eventNb":"3","type":"7878d2c4.533134"}]}]},{"id":"d4ada469.da8da8","type":"Equip_Def_EventS","z":"","name":"Event Second Usage in Production","options":[{"label":"","action":"B","type":"Real"}]},{"id":"42d72cf0.9c5af4","type":"Equip_Def_EventS","z":"","name":"Event Second Usage Waiting Production","options":[{"label":"Time","action":"E-B","type":"Real"}]},{"id":"399f513a.a9fede","type":"Equip_Def_EventS","z":"","name":"Event Second Production Production","options":[{"label":"","action":"B","type":"Real"}]},{"id":"172ba194.a9dfee","type":"Equip_Def_EventS","z":"","name":"Event Second Production Water Push Mass line","options":[{"label":"","action":"B","type":"Real"}]},{"id":"f0def7c.7567c88","type":"MySQLdatabase","z":"","name":"ProcessControl","host":"127.0.0.1","port":"3306","db":"processcontrol","tz":"","charset":"UTF8"},{"id":"95c7e4a2.8733d","type":"factory","z":"8cb6d26c.7a322","name":"Danone Japon","address":"Tateb","outputs":1,"x":300,"y":160,"wires":[["b7191788.0b6a2"]]},{"id":"b7191788.0b6a2","type":"areas","z":"8cb6d26c.7a322","name":"","outputs":5,"x":490,"y":160,"wires":[["a96a8e58.35cf68"],[],[],[],[]]},{"id":"a96a8e58.35cf68","type":"area","z":"8cb6d26c.7a322","name":"Reception","comment":"Milk Reception","outputs":3,"x":670,"y":140,"wires":[["9ea8230c.664628","7a16a4da.fbedf4","8eac9ab5.d2c5e8"],["e74182fe.52fa3"],["1ba8608c.a4d5b7"]]},{"id":"9ea8230c.664628","type":"tank_areas","z":"8cb6d26c.7a322","name":"Raw Milks Tanks","Area":"Reception","outputs":3,"x":1140,"y":160,"wires":[["957949f7.11bca"],["95be28f9.3617e8"],["dd9d21ac.c24208"]]},{"id":"957949f7.11bca","type":"tank","z":"8cb6d26c.7a322","name":"Raw Milk Tank 1","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"Tank_Area":"Raw Milks Tanks","x":1450,"y":140,"wires":[["e58c5564.b78548"]]},{"id":"95be28f9.3617e8","type":"tank","z":"8cb6d26c.7a322","name":"Raw Milk Tank 2","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"Tank_Area":"Skim Milks Tanks","x":1450,"y":200,"wires":[["e3e17fd7.43b428"]]},{"id":"dd9d21ac.c24208","type":"tank","z":"8cb6d26c.7a322","name":"Raw Milk Tank 3","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"Tank_Area":"Cream Milks Tanks","x":1450,"y":260,"wires":[["1e542539.bcfff3"]]},{"id":"7a16a4da.fbedf4","type":"tank_areas","z":"8cb6d26c.7a322","name":"Skim Milks Tanks","Area":"Reception","outputs":3,"x":1140,"y":360,"wires":[["8f5af2c7.178e78"],["67e1ba60.457c34"],["74d25890.bff73"]]},{"id":"8f5af2c7.178e78","type":"tank","z":"8cb6d26c.7a322","name":"Skim Milk Tank 1","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"Tank_Area":"siemens","x":1450,"y":340,"wires":[["cafe85ed.fabdb8"]]},{"id":"67e1ba60.457c34","type":"tank","z":"8cb6d26c.7a322","name":"Skim Milk Tank 2","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"Tank_Area":"siemens","x":1450,"y":400,"wires":[["8c5acb68.e3d4c8"]]},{"id":"74d25890.bff73","type":"tank","z":"8cb6d26c.7a322","name":"Skim Milk Tank 3","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"Tank_Area":"siemens","x":1450,"y":460,"wires":[["e8836bfa.57f698"]]},{"id":"8eac9ab5.d2c5e8","type":"tank_areas","z":"8cb6d26c.7a322","name":"Cream Milks Tanks","Area":"Reception","outputs":3,"x":1150,"y":580,"wires":[["81e89d37.7e0da"],["911eb15d.a2c0a"],["729c3551.8a4a34"]]},{"id":"81e89d37.7e0da","type":"tank","z":"8cb6d26c.7a322","name":"Cream Milk Tank 1","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"Tank_Area":"siemens","x":1450,"y":560,"wires":[["12d87d46.795a9b"]]},{"id":"911eb15d.a2c0a","type":"tank","z":"8cb6d26c.7a322","name":"Cream Milk Tank 2","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"x":1450,"y":620,"wires":[["6789f175.79a34"]]},{"id":"729c3551.8a4a34","type":"tank","z":"8cb6d26c.7a322","name":"Cream Milk Tank 3","InCollector":"50","OutCollector":"30","SelectCollector":true,"SelectLine":false,"x":1450,"y":680,"wires":[["afeab228.df3f5"]]},{"id":"e74182fe.52fa3","type":"Plcs","z":"8cb6d26c.7a322","name":"Reception Plcs","Area":"Reception","outputs":2,"x":880,"y":840,"wires":[["a3ba4aac.5ba76"],["c8e4feb2.384598"]]},{"id":"a3ba4aac.5ba76","type":"Plc_Type","z":"8cb6d26c.7a322","name":"Reception Plc01","Plc_Brand":"siemens","Plc_Connection":"ethernet","Plc_Slot":"2","Plc_Rack":"0","Plc_Ip":"192.168.1.168","Server_Def":"3fd265d4.ce31f2","Area":"Reception","x":1190,"y":840,"wires":[["1593ea89.0ea765","5a24b0d4.3e0f68","dfbd98e9.d7fa6","75dc1058.7f15d8"]]},{"id":"c8e4feb2.384598","type":"Plc_Type","z":"8cb6d26c.7a322","name":"Reception Plc02","Plc_Brand":"siemens","Plc_Connection":"ethernet","Plc_Slot":"2","Plc_Rack":"0","Plc_Ip":"192.168.1.168","Server_Def":"3fd265d4.ce31f2","Area":"Reception","x":1190,"y":1020,"wires":[["4e936ed9.58b84","449df50b.ad741c","7fc70fae.01ede8","b3550f16.8d021"]]},{"id":"1ba8608c.a4d5b7","type":"equips","z":"8cb6d26c.7a322","name":"Reception Equips","outputs":5,"noerr":0,"x":890,"y":1260,"wires":[["9dcd3a87.74d2c"],["399b5da1.acbdc2"],["162258d4.551a3f"],["b61d91c7.22b12"],["73a8b2c2.c2a8cc"]]},{"id":"9dcd3a87.74d2c","type":"equip_Type","z":"8cb6d26c.7a322","name":"Reception line 1","Plc":"Reception Plc01","Equip_Def":"1b13c9d7.5dc8e6","x":1190,"y":1200,"wires":[[]]},{"id":"399b5da1.acbdc2","type":"equip_Type","z":"8cb6d26c.7a322","name":"Reception line 2","Plc":"Reception Plc02","Equip_Def":"1b13c9d7.5dc8e6","x":1190,"y":1260,"wires":[[]]},{"id":"e58c5564.b78548","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":140,"wires":[[]]},{"id":"cd5c3b99.2b9ee8","type":"inject","z":"8cb6d26c.7a322","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":160,"wires":[["95c7e4a2.8733d"]]},{"id":"1593ea89.0ea765","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC01 Fifo Event Function","Plc":"Reception Plc01","conf_DB":"3","conf_DB_offset":"7","fifo_Def":"c0b8a77a.b78bf8","x":1580,"y":840,"wires":[[]]},{"id":"162258d4.551a3f","type":"equip_Type","z":"8cb6d26c.7a322","name":"Reception line 3","Plc":"Reception Plc01","Equip_Def":"1b13c9d7.5dc8e6","x":1190,"y":1320,"wires":[[]]},{"id":"5a24b0d4.3e0f68","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC01 Fifo Event Function + String","Plc":"Reception Plc01","conf_DB":"1000","conf_DB_offset":"2","fifo_Def":"7878d2c4.533134","x":1610,"y":880,"wires":[[]]},{"id":"dfbd98e9.d7fa6","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC01 Fifo RealTime","Plc":"Reception Plc01","conf_DB":"1002","conf_DB_offset":"2","fifo_Def":"a1c61c89.30041","x":1560,"y":920,"wires":[[]]},{"id":"75dc1058.7f15d8","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC01 Fifo Alarm Group","Plc":"Reception Plc01","conf_DB":"4","conf_DB_offset":"6","fifo_Def":"95bafe7c.0c5a","x":1570,"y":960,"wires":[[]]},{"id":"55e0f404.6efc7c","type":"comment","z":"8cb6d26c.7a322","name":"PLC","info":"","x":1150,"y":780,"wires":[]},{"id":"6423ae1d.95b198","type":"comment","z":"8cb6d26c.7a322","name":"PILE","info":"","x":1470,"y":780,"wires":[]},{"id":"c1d80657.0d33a","type":"comment","z":"8cb6d26c.7a322","name":"EQUIPEMENT","info":"","x":1190,"y":1160,"wires":[]},{"id":"e487e3f2.af38d8","type":"comment","z":"8cb6d26c.7a322","name":"PLCs","info":"","x":850,"y":780,"wires":[]},{"id":"63be4d30.962254","type":"comment","z":"8cb6d26c.7a322","name":"EQUIPEMENTs","info":"","x":870,"y":1160,"wires":[]},{"id":"fc67ccfa.5e0248","type":"comment","z":"8cb6d26c.7a322","name":"TANK AREA","info":"","x":1130,"y":100,"wires":[]},{"id":"8c988010.03c26","type":"comment","z":"8cb6d26c.7a322","name":"TANK","info":"","x":1420,"y":80,"wires":[]},{"id":"287d63bc.792cbc","type":"comment","z":"8cb6d26c.7a322","name":"AREA","info":"","x":650,"y":80,"wires":[]},{"id":"7f329257.4e2f2c","type":"comment","z":"8cb6d26c.7a322","name":"AREAs","info":"","x":490,"y":80,"wires":[]},{"id":"2db0b37b.2be7cc","type":"comment","z":"8cb6d26c.7a322","name":"FACTORY","info":"","x":290,"y":80,"wires":[]},{"id":"e3e17fd7.43b428","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":200,"wires":[[]]},{"id":"1e542539.bcfff3","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":260,"wires":[[]]},{"id":"cafe85ed.fabdb8","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":340,"wires":[[]]},{"id":"8c5acb68.e3d4c8","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":400,"wires":[[]]},{"id":"e8836bfa.57f698","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":460,"wires":[[]]},{"id":"12d87d46.795a9b","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":560,"wires":[[]]},{"id":"6789f175.79a34","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":620,"wires":[[]]},{"id":"afeab228.df3f5","type":"concat","z":"8cb6d26c.7a322","name":"","x":1690,"y":680,"wires":[[]]},{"id":"b61d91c7.22b12","type":"equip_Type","z":"8cb6d26c.7a322","name":"MB3 Pasteurizer","Plc":"Reception Plc01","Equip_Def":"ac080ae6.e4202","x":1190,"y":1380,"wires":[[]]},{"id":"4e936ed9.58b84","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC02 Fifo Event Function","Plc":"Reception Plc02","conf_DB":"3","conf_DB_offset":"7","fifo_Def":"c0b8a77a.b78bf8","x":1580,"y":1020,"wires":[[]]},{"id":"449df50b.ad741c","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC02 Fifo Event Function + String","Plc":"Reception Plc02","conf_DB":"1000","conf_DB_offset":"2","fifo_Def":"7878d2c4.533134","x":1610,"y":1060,"wires":[[]]},{"id":"7fc70fae.01ede8","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC02 Fifo RealTime","Plc":"Reception Plc02","conf_DB":"1002","conf_DB_offset":"2","fifo_Def":"a1c61c89.30041","x":1560,"y":1100,"wires":[[]]},{"id":"b3550f16.8d021","type":"fifo","z":"8cb6d26c.7a322","name":"Reception PLC02 Fifo Alarm Group","Plc":"Reception Plc02","conf_DB":"4","conf_DB_offset":"6","fifo_Def":"95bafe7c.0c5a","x":1570,"y":1140,"wires":[[]]},{"id":"73a8b2c2.c2a8cc","type":"equip_Type","z":"8cb6d26c.7a322","name":"Filler Arcil 1","Plc":"Reception Plc01","Equip_Def":"fcebda19.560b78","x":1170,"y":1440,"wires":[[]]},{"id":"3984a641.6f4922","type":"function","z":"525eb504.32348c","name":"","func":"msg.topic = \"SELECT * FROM `pages`\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1560,"wires":[["485df656.44fa3"]]},{"id":"c397dd0f.c0c958","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1560,"wires":[["3984a641.6f4922"]]},{"id":"485df656.44fa3","type":"mysql","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Test","x":570,"y":1560,"wires":[["b361c7c.3debc38"]]},{"id":"b361c7c.3debc38","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1560,"wires":[]},{"id":"4184911.67034f","type":"comment","z":"525eb504.32348c","name":"SELECT","info":"","x":200,"y":1520,"wires":[]},{"id":"578e3662.9e4ce","type":"comment","z":"525eb504.32348c","name":"INSERT","info":"","x":190,"y":1600,"wires":[]},{"id":"b7b06842.89dba8","type":"function","z":"525eb504.32348c","name":"","func":"msg.payload=['user', 'example-user'];\nmsg.topic = \"INSERT INTO pages( `name`, `content`) VALUES (?, ?)\" ;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1640,"wires":[["3ceb6608.46fdd2"]]},{"id":"13fe1fef.06254","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1640,"wires":[["b7b06842.89dba8"]]},{"id":"3ceb6608.46fdd2","type":"mysql","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Test","x":570,"y":1640,"wires":[["3f6f1e04.b84f92"]]},{"id":"3f6f1e04.b84f92","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1640,"wires":[]},{"id":"3bc762ba.3c8516","type":"function","z":"525eb504.32348c","name":"","func":"\n\n//msg.topic =\"CREATE TABLE `processcontrol`.`toto` ( `Champ1` INT NOT NULL , `Champ2` INT NOT NULL ) ENGINE = InnoDB\"; \nmsg.topic =\"CREATE TABLE `processcontrol`.`tata` ( `id` INT NOT NULL AUTO_INCREMENT , `name` VARCHAR(255) NOT NULL , `content` TEXT NOT NULL , PRIMARY KEY (`id`)) ENGINE = InnoDB\"; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1040,"wires":[["992cea62.7c5a4"]]},{"id":"2f6c951e.14d85a","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1040,"wires":[["3bc762ba.3c8516"]]},{"id":"992cea62.7c5a4","type":"mysql","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Test","x":570,"y":1040,"wires":[["6bf1e046.337c"]]},{"id":"6bf1e046.337c","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":1040,"wires":[]},{"id":"833496b9.fca378","type":"comment","z":"525eb504.32348c","name":"CREATE TABLES","info":"","x":240,"y":1000,"wires":[]},{"id":"aa2ebeb8.4882a8","type":"function","z":"525eb504.32348c","name":"","func":"msg.topic = \"SELECT 1 FROM `pages`\";\n\n//msg.topic =\"CREATE TABLE `processcontrol`.`toto` ( `Champ1` INT NOT NULL , `Champ2` INT NOT NULL ) ENGINE = InnoDB\"; \n//msg.topic =\"CREATE TABLE `processcontrol`.`tata` ( `id` INT NOT NULL AUTO_INCREMENT , `name` VARCHAR(255) NOT NULL , `content` TEXT NOT NULL , PRIMARY KEY (`id`)) ENGINE = InnoDB\"; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1260,"wires":[["d99fa52e.4fe33"]]},{"id":"9e39b08e.4074","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1260,"wires":[["aa2ebeb8.4882a8"]]},{"id":"d99fa52e.4fe33","type":"mysql","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Test","x":570,"y":1260,"wires":[["7e46a735.afbf1"]]},{"id":"7e46a735.afbf1","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1260,"wires":[]},{"id":"b5dfba0.f639fc8","type":"comment","z":"525eb504.32348c","name":"VERIFIER SI TABLE EXISTE","info":"","x":260,"y":1220,"wires":[]},{"id":"ac10d7a2.ddb2","type":"function","z":"525eb504.32348c","name":"","func":"msg.topic = \"SHOW TABLES FROM `processcontrol`\";\n\n//msg.topic =\"CREATE TABLE `processcontrol`.`toto` ( `Champ1` INT NOT NULL , `Champ2` INT NOT NULL ) ENGINE = InnoDB\"; \n//msg.topic =\"CREATE TABLE `processcontrol`.`tata` ( `id` INT NOT NULL AUTO_INCREMENT , `name` VARCHAR(255) NOT NULL , `content` TEXT NOT NULL , PRIMARY KEY (`id`)) ENGINE = InnoDB\"; \n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1180,"wires":[["f2231dd6.c15ec"]]},{"id":"4dff4eb2.322e7","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1180,"wires":[["ac10d7a2.ddb2"]]},{"id":"f2231dd6.c15ec","type":"mysql","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Test","x":570,"y":1180,"wires":[["2d536b26.fe1cfc"]]},{"id":"2d536b26.fe1cfc","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1180,"wires":[]},{"id":"a5097c64.11f1b8","type":"comment","z":"525eb504.32348c","name":"LISTE DES TABLES","info":"","x":230,"y":1140,"wires":[]},{"id":"d7952813.ef2418","type":"function","z":"525eb504.32348c","name":"","func":"msg.topic = \"SHOW COLUMNS FROM `toto`\";\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1340,"wires":[["5b92087.966a678"]]},{"id":"caad58cc.7b491","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1340,"wires":[["d7952813.ef2418"]]},{"id":"5b92087.966a678","type":"mysql","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Test","x":570,"y":1340,"wires":[["d318cb4e.facec8"]]},{"id":"d318cb4e.facec8","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1340,"wires":[]},{"id":"140d31f4.de44de","type":"comment","z":"525eb504.32348c","name":"LISTE DES CHAMPS TABLES","info":"","x":260,"y":1300,"wires":[]},{"id":"88d18c7b.41c8b8","type":"comment","z":"525eb504.32348c","name":"AJOUTER UN CHAMPS DANS TABLE","info":"","x":290,"y":1380,"wires":[]},{"id":"442a6524.cb6034","type":"function","z":"525eb504.32348c","name":"","func":"//msg.topic =\"ALTER TABLE `toto` ADD `ttttt` INT NOT NULL AFTER `Champ2`\"; \nmsg.topic =\"ALTER TABLE `toto` ADD `ttttt` INT NOT NULL\"; \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1420,"wires":[["1a616843.c551c"]]},{"id":"d0f3491f.b57ed8","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":1420,"wires":[["442a6524.cb6034"]]},{"id":"1a616843.c551c","type":"mysql","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Test","x":570,"y":1420,"wires":[["d80993b3.a8d77"]]},{"id":"d80993b3.a8d77","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":1420,"wires":[]},{"id":"957c631.247cc2","type":"comment","z":"525eb504.32348c","name":"CREATE TABLES","info":"","x":250,"y":240,"wires":[]},{"id":"52805e65.65972","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":280,"wires":[["31352675.61c722"]]},{"id":"31352675.61c722","type":"create_table","z":"525eb504.32348c","mydb":"f0def7c.7567c88","name":"Creation Danone Japon Tables","x":510,"y":280,"wires":[["5c675960.01d0d","e2c68daf.97ff58"]]},{"id":"5c675960.01d0d","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":280,"wires":[]},{"id":"e2c68daf.97ff58","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":850,"y":340,"wires":[]},{"id":"85e87a7e.f4e3c","type":"file in","z":"525eb504.32348c","name":"","filename":"flows_DESKTOP.json","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":420,"y":580,"wires":[["257c2294.f59ea6"]]},{"id":"c4cdc013.a2dda","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1260,"y":580,"wires":[]},{"id":"9b705206.63b708","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":580,"wires":[["85e87a7e.f4e3c"]]},{"id":"257c2294.f59ea6","type":"json","z":"525eb504.32348c","name":"","property":"payload","action":"","pretty":false,"x":610,"y":580,"wires":[["1a0ab959.f85427","7f3b82a.54863fc"]]},{"id":"cd29fd8.51bc98","type":"comment","z":"525eb504.32348c","name":"FLOW TO JSON","info":"","x":220,"y":540,"wires":[]},{"id":"1a0ab959.f85427","type":"function","z":"525eb504.32348c","name":"","func":"var DB = [ {\"name\":\"conf_factory\",\"type\":\"\"}]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":580,"wires":[["c4cdc013.a2dda"]]},{"id":"7f3b82a.54863fc","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":820,"y":520,"wires":[]},{"id":"1129633c.a165cd","type":"comment","z":"525eb504.32348c","name":"FLOW TO JSON","info":"","x":640,"y":520,"wires":[]},{"id":"633aa222.41cf6c","type":"comment","z":"525eb504.32348c","name":"Update dataTables","info":"","x":1050,"y":620,"wires":[]},{"id":"22210e16.040fb2","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":760,"wires":[["30db280e.579f"]]},{"id":"30db280e.579f","type":"function","z":"525eb504.32348c","name":"","func":"var count=global.get('count') || 0;\ncount +=1;\nglobal.set('count',count);\nmsg.payload =\"F :\" + count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":760,"wires":[["9b454914.a32618"]]},{"id":"9b454914.a32618","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":760,"wires":[]},{"id":"fd62cd55.50c86","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":800,"wires":[["33d2214.ee129de"]]},{"id":"33d2214.ee129de","type":"function","z":"525eb504.32348c","name":"","func":"var count=global.get('count') || 0;\ncount +=1;\nglobal.set('count',count);\nmsg.payload =\"F :\" + count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":800,"wires":[["52538260.943fe4"]]},{"id":"52538260.943fe4","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":800,"wires":[]},{"id":"10223b00.105bfd","type":"comment","z":"525eb504.32348c","name":"GLOBAL VARIABLE","info":"","x":230,"y":680,"wires":[]},{"id":"462a3cef.bed00c","type":"comment","z":"525eb504.32348c","name":"increase","info":"","x":200,"y":760,"wires":[]},{"id":"d5a89da8.d2d1e8","type":"comment","z":"525eb504.32348c","name":"increase","info":"","x":200,"y":800,"wires":[]},{"id":"8bac0b1b.ada8a8","type":"comment","z":"525eb504.32348c","name":"reset","info":"","x":190,"y":720,"wires":[]},{"id":"c2fd724b.079d8","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":360,"y":720,"wires":[["fbf9bbd9.d790e8"]]},{"id":"fbf9bbd9.d790e8","type":"function","z":"525eb504.32348c","name":"","func":"var count=global.get('count') || 0;\ncount =0;\nglobal.set('count',count);\nmsg.payload =\"F :\" + count;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":720,"wires":[["21e83278.7c3fae"]]},{"id":"21e83278.7c3fae","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":680,"y":720,"wires":[]},{"id":"be12f904.d42168","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":220,"y":400,"wires":[["5d92c50f.231364"]]},{"id":"5d92c50f.231364","type":"populate_table","z":"525eb504.32348c","mydb":"f0def7c.7567c88","Plc":"","name":"Populate Tables","x":470,"y":400,"wires":[["7a084ef4.fd0488"]]},{"id":"7a084ef4.fd0488","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":880,"y":400,"wires":[]},{"id":"28c61bf9.c0aebc","type":"comment","z":"525eb504.32348c","name":"POPULATE TABLES","info":"","x":230,"y":360,"wires":[]},{"id":"c20429c5.09ee1","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"TEST","payloadType":"str","x":220,"y":80,"wires":[[]]},{"id":"f078f73d.b04128","type":"debug","z":"525eb504.32348c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":500,"y":80,"wires":[]},{"id":"e66ebd93.b9bba8","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":500,"y":120,"wires":[]},{"id":"7756ab9c.8172ac","type":"debug","z":"525eb504.32348c","name":"","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":500,"y":160,"wires":[]}]