flows_DESKTOP.json
[{"id":"525eb504.32348c","type":"tab","label":"Main","disabled":false,"info":""},{"id":"e3eadb23.6f9ee8","type":"tab","label":"Configuration","disabled":false,"info":""},{"id":"6af09a6.da22464","type":"tab","label":"Strauss Accos","disabled":false,"info":""},{"id":"ec73e0d1.7f682","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"52ade34f.40dec4","type":"tab","label":"Strauss Salad","disabled":false,"info":""},{"id":"dc72e474.a84d7","type":"tab","label":"Danone Japon","disabled":false,"info":""},{"id":"b4609ca3.4471b","type":"tab","label":"Danone Mexique","disabled":false,"info":""},{"id":"3f02621c.5665f6","type":"tab","label":"Danone Bresil","disabled":false,"info":""},{"id":"769158ac.78d378","type":"tab","label":"Danone Ile de la reunion","disabled":false,"info":""},{"id":"e2e8af14.ad5118","type":"Tank_Def","z":"","name":"Tank Definition Default","name1":"Tank Definition Default","id_Tank_Def_Digital":"803d50d0.1fd0a","id_Tank_Def_Analog":"8c049425.715bb8","id_Tank_Def_GAlarms":"7cf50c50.fae384"},{"id":"320a2f12.048bb","type":"Server","z":"","name":"Server ComS7","Server_Type":"coms7"},{"id":"c45b44e0.5f56c8","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Road Truck Area emptying by Line1 truck emptying","name1":"Strauss Accos Road Truck Area emptying by Line1 truck emptying","data_comment":"Road Truck selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"c2da785c.7dd048","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"ca268475.366688","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"5ef31964.a851c8","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Road Truck Area emptying by Line2 truck emptying","name1":"Strauss Accos Road Truck Area emptying by Line2 truck emptying","data_comment":"Road Truck selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"c2da785c.7dd048","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"ca268475.366688","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"c07a8b8c.fd3498","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Raw Milk storage emptying by Prepasto MP11","name1":"Strauss Accos Raw Milk storage emptying by Prepasto MP11","data_comment":"Raw Milk Tank selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"7ffd76a9.640538","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"7b554d26.0906bc","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"c022737c.381a48","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"547de4b5.fd79dc","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Raw Milk storage emptying by Prepasto MP21","name1":"Strauss Accos Raw Milk storage emptying by Prepasto MP21","data_comment":"Raw Milk Tank selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"7ffd76a9.640538","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"7b554d26.0906bc","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"c022737c.381a48","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"b18e42fa.6c13a","type":"Tank_Area_Def_Filling","z":"","name":"Strauss Accos Raw Milk Storage filling by Line1 truck emptying","name1":"Strauss Accos Raw Milk Storage filling by Line1 truck emptying","data_comment":"Raw Milk Tank selection filling","data_type":"int","options":[{"number":"1","id_Tank":"7ffd76a9.640538","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"7b554d26.0906bc","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"c022737c.381a48","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"6e664130.5eb5a","type":"Tank_Area_Def_Filling","z":"","name":"Strauss Accos Raw Milk Storage filling by Line2 truck emptying","name1":"Strauss Accos Raw Milk Storage filling by Line2 truck emptying","data_comment":"Raw Milk Tank selection filling","data_type":"int","options":[{"number":"1","id_Tank":"7ffd76a9.640538","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"7b554d26.0906bc","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"c022737c.381a48","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"ee88d1b2.8a3388","type":"Tank_Area_Def_Filling","z":"","name":"Strauss Accos Skim Milk Storage Tank filling by Prepasto MP11","name1":"Strauss Accos Skim Milk Storage Tank filling by Prepasto MP11","data_comment":"Skim Milk Tank selection filling","data_type":"int","options":[{"number":"1","id_Tank":"421f3404.273924","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"e27a7e99.40465","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"8da27736.561a18","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"b06cd855.6f752","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"dfff108.c155ef","type":"Tank_Area_Def_Filling","z":"","name":"Strauss Accos Skim Milk Storage Tank filling by Prepasto MP21","name1":"Strauss Accos Skim Milk Storage Tank filling by Prepasto MP21","data_comment":"Skim Milk Tank selection filling","data_type":"int","options":[{"number":"1","id_Tank":"421f3404.273924","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"e27a7e99.40465","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"8da27736.561a18","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"b06cd855.6f752","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"8377225c.f524f8","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Skim Milk Storage Tank emptying by 1","name1":"Strauss Accos Skim Milk Storage Tank emptying by 1","data_comment":"Skim Milk Tank selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"421f3404.273924","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"e27a7e99.40465","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"8da27736.561a18","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"b06cd855.6f752","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"c2b3d245.17855","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Skim Milk Storage Tank emptying by 2","name1":"Strauss Accos Skim Milk Storage Tank emptying by 2","data_comment":"Skim Milk Tank selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"421f3404.273924","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"e27a7e99.40465","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"8da27736.561a18","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"b06cd855.6f752","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"c6420e05.e93428","type":"Tank_Area_Def_Filling","z":"","name":"Strauss Accos Cream Storage Tank filling by Prepasto MP11","name1":"Strauss Accos Cream Storage Tank filling by Prepasto MP11","data_comment":"Cream Tank selection filling","data_type":"int","options":[{"number":"1","id_Tank":"c99d36a9.8359e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"ab7106ad.be14e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"d1e7e802.e902e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"dc4cfb84.c64d4","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"96ddc8d8.846fc8","type":"Tank_Area_Def_Filling","z":"","name":"Strauss Accos Cream Storage Tank filling by Prepasto MP21","name1":"Strauss Accos Cream Storage Tank filling by Prepasto MP21","data_comment":"Cream Tank selection filling","data_type":"int","options":[{"number":"1","id_Tank":"c99d36a9.8359e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"ab7106ad.be14e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"d1e7e802.e902e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"dc4cfb84.c64d4","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"9375bd6d.c1c458","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Cream Storage Tank emptying by 1","name1":"Strauss Accos Cream Storage Tank emptying by 1","data_comment":"Cream Tank selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"c99d36a9.8359e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"ab7106ad.be14e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"d1e7e802.e902e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"dc4cfb84.c64d4","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"7f27b0b0.8f5558","type":"Tank_Area_Def_Emptying","z":"","name":"Strauss Accos Cream Storage Tank emptying by 2","name1":"","data_comment":"Cream Tank selection emptying","data_type":"int","options":[{"number":"1","id_Tank":"c99d36a9.8359e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"2","id_Tank":"ab7106ad.be14e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"3","id_Tank":"d1e7e802.e902e","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"},{"number":"4","id_Tank":"dc4cfb84.c64d4","in_line":true,"in_coll":false,"vol_coll_inlet":"1","vol_coll_outlet":"1"}]},{"id":"e1ec8b97.87eff8","type":"Equip_Def","z":"","name":"Equipment truck emptying line default","name1":"Equipment truck emptying line default","id_Equip_Def_Digital":"3a593aea.8c1cee","id_Equip_Def_Analog":"8af357b2.128cf","id_Equip_Def_GAlarms":"5953dbd5.4c38c4","id_Equip_Def_Carto":"a8826fd5.42e7f8","id_Equip_Def_EventList":"29ab74cd.e3124c"},{"id":"befc3524.e33278","type":"Equip_Def","z":"","name":"Equipment Prepasto default","name1":"","id_Equip_Def_Digital":"","id_Equip_Def_Analog":"","id_Equip_Def_GAlarms":"","id_Equip_Def_Carto":"b0872ad8.cb42c","id_Equip_Def_EventList":""},{"id":"a8826fd5.42e7f8","type":"Equip_Def_Carto","z":"","name":"Cartography Equipment truck emptying line default","name1":"Cartography Equipment truck emptying line default","options":[{"label":"Priming /*Equip/name1/* up to /*Tank_Area_Def_Emptying/1/name1/*","type":"Initial_Push","TankArea_Source":"/*Tank_Area_Def_Filling/1/list/*","TankArea_Destination":"/*Tank_Area_Def_Emptying/1/list/*","freq_check":"1","delay_check":"2"},{"label":"Water push /*Equip/name1/* up to /*Tank_Area_Def_Emptying/1/name1/*","type":"Final_Push","TankArea_Source":"/*Tank_Area_Def_Filling/1/list/*","TankArea_Destination":"/*Tank_Area_Def_Emptying/1/list/*","freq_check":"2","delay_check":"2"},{"label":"check /*Tank_Area_Def_Filling/1/name1/* emptyed by /*Equip/name1/*","type":"Tank_Emptying","TankArea_Source":"/*Tank_Area_Def_Filling/1/list/*","TankArea_Destination":"","freq_check":"3","delay_check":"2"}]},{"id":"803d50d0.1fd0a","type":"Equip_Def_Digital","z":"","name":"Digital Tank Definition Default","name1":"Digital Tank Definition Default","options":[{"label":""}]},{"id":"8c049425.715bb8","type":"Equip_Def_Analog","z":"","name":"Analog Tank Definition Default","name1":"Analog Tank Definition Default","options":[{"label":"","type":"Real"}]},{"id":"7cf50c50.fae384","type":"Equip_Def_GAlarms","z":"","name":"Group Alarm Tank Definition Default","name1":"Group Alarm Tank Definition Default","options":[{"label":"","type":"Real"}]},{"id":"3a593aea.8c1cee","type":"Equip_Def_Digital","z":"","name":"Digital Equipment truck emptying line default","name1":"Digital Equipment truck emptying line default","options":[]},{"id":"8af357b2.128cf","type":"Equip_Def_Analog","z":"","name":"Analog Equipment truck emptying line default","name1":"Analog Equipment truck emptying line default","options":[]},{"id":"5953dbd5.4c38c4","type":"Equip_Def_GAlarms","z":"","name":"Group Alarms Equipment truck emptying line default","name1":"Group Alarms Equipment truck emptying line default","options":[]},{"id":"29ab74cd.e3124c","type":"Equip_Def_EventList","z":"","name":"Event List Equipment truck emptying line default","name1":"Event List Equipment truck emptying line default","Equip_Def_EventM":"","Fifo_Def":"","options":[]},{"id":"3fd477d1.b81e28","type":"Area_Def_Carto","z":0,"name":"Cartography Area Milk reception","name1":"Cartography Area Milk reception","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":[]},{"id":"4af71ea4.c2026","type":"TankArea_Def_Carto","z":0,"name":"Cartography Tank Area Emptying Checking","name1":"Cartography Tank Area Emptying Checking","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":[]},{"id":"5740bf47.3c77c","type":"Tank_Def_Carto","z":0,"name":"Cartography Tank Emptying Checking","name1":"Cartography Tank Emptying Checking","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":[]},{"id":"b0872ad8.cb42c","type":"Equip_Def_Carto","z":"","name":"Carto Equipment Prepasto default","name1":"Carto Equipment Prepasto default","options":[{"label":"","type":"Initial_Push","TankArea_Source":"","TankArea_Destination":"","freq_check":"3","delay_check":"3"}]},{"id":"2a66f50.e6e930c","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["c835205a.37e718"]]},{"id":"c835205a.37e718","type":"Create_Table","z":"525eb504.32348c","mydb":"","name":"Create Tables","x":420,"y":220,"wires":[[]]},{"id":"2b4dce51.e9a7da","type":"Populate_Table","z":"525eb504.32348c","mydb":"","Plc":"","name":"Populate tables","x":420,"y":280,"wires":[[]]},{"id":"7dbd001d.188c5","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":280,"wires":[["2b4dce51.e9a7da"]]},{"id":"862c7bb4.b329e","type":"Computer","z":"e3eadb23.6f9ee8","name":"Main Server","name1":"Server","Server_Main":true,"Server_Local":false,"Computer_Local":false,"Computer_Carto":false,"id_Factory":"","x":220,"y":160,"wires":[[]]},{"id":"c9e8a79d.5a368","type":"Computer","z":"e3eadb23.6f9ee8","name":"Server Strauss Accos","name1":"Server","Server_Main":false,"Server_Local":true,"Computer_Local":false,"Computer_Carto":false,"id_Factory":"","x":240,"y":220,"wires":[[]]},{"id":"8408a3a7.389dd","type":"Computer","z":"e3eadb23.6f9ee8","name":"Server Strauss Salad","name1":"Server","Server_Main":false,"Server_Local":true,"Computer_Local":false,"Computer_Carto":false,"id_Factory":"","x":240,"y":280,"wires":[[]]},{"id":"95313714.84ce38","type":"Computer","z":"e3eadb23.6f9ee8","name":"Server Danone Japon","name1":"Server","Server_Main":false,"Server_Local":true,"Computer_Local":false,"Computer_Carto":false,"id_Factory":"","x":240,"y":340,"wires":[[]]},{"id":"df5b5dab.3dd8a8","type":"Factory","z":"6af09a6.da22464","name":"Factory Strauss Accos","name1":"Strauss","address":"Accos","currency":"Shekel","currency_euro":"4","MenuCartography":true,"MenuOptimisation":true,"MenuTraceability":true,"outputs":1,"x":160,"y":140,"wires":[["2214b1e7.a773ce"]]},{"id":"96d6b992.4b3a98","type":"Factory","z":"52ade34f.40dec4","name":"Factory Strauss Salad","name1":"Strauss","address":"Carmiel","currency":"Shekel","currency_euro":"4","MenuCartography":true,"MenuOptimisation":true,"MenuTraceability":true,"outputs":1,"x":260,"y":160,"wires":[["f0fbbf79.fb7a9"]]},{"id":"d5a539a4.4459d","type":"Factory","z":"dc72e474.a84d7","name":"Factory Danone Japon","name1":"Danone","address":"Tateb","currency":"Yen","currency_euro":"100","MenuCartography":true,"MenuOptimisation":true,"MenuTraceability":true,"outputs":1,"x":240,"y":140,"wires":[["441e00c.73f3f8"]]},{"id":"bb243ba2.f2aa4","type":"Factory","z":"b4609ca3.4471b","name":"Factory Danone Mexique","name1":"Danone","address":"Irapuato","currency":"Pesos","currency_euro":"20","MenuCartography":true,"MenuOptimisation":true,"MenuTraceability":true,"outputs":1,"x":230,"y":160,"wires":[["a88ee6f4.cf05a"]]},{"id":"85ad1aef.a96ca","type":"Factory","z":"3f02621c.5665f6","name":"Factory Danone Bresil","name1":"Danone","address":"Pocos de caldas","currency":"Real","currency_euro":"4","MenuCartography":true,"MenuOptimisation":true,"MenuTraceability":true,"outputs":1,"x":220,"y":160,"wires":[[]]},{"id":"93702a94.f109a8","type":"Factory","z":"769158ac.78d378","name":"Factory Danone Ile de la reunion","name1":"Danone","address":"Ile de la reunion","currency":"Euro","currency_euro":"1","MenuCartography":true,"MenuOptimisation":true,"MenuTraceability":true,"outputs":1,"x":280,"y":160,"wires":[["aef63688.e9bc9"]]},{"id":"2214b1e7.a773ce","type":"Areas","z":"6af09a6.da22464","name":"Strauss Accos Areas","name1":"Areas","outputs":6,"x":440,"y":180,"wires":[["a377cde8.c4522"],[],[],[],[],[]]},{"id":"a377cde8.c4522","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Reception Area","name1":"Milk Reception","comment":"Milk Reception","Menu":"Milk Reception","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":810,"y":160,"wires":[["de8419a1.1d7fb","19315d51.e69a6b","db7ee2e8.7c1d08","5ef79426.8c1634"],["e1c4c34b.8ac3a"],["68b85bf8.11492c"]]},{"id":"f0fbbf79.fb7a9","type":"Areas","z":"52ade34f.40dec4","name":"Strauss Salad Areas","name1":"Areas","outputs":4,"x":600,"y":160,"wires":[[],[],[],[]]},{"id":"441e00c.73f3f8","type":"Areas","z":"dc72e474.a84d7","name":"Danone Japon Areas","name1":"Areas","outputs":4,"x":560,"y":140,"wires":[["40f3d722.85d5b"],[],[],[]]},{"id":"a88ee6f4.cf05a","type":"Areas","z":"b4609ca3.4471b","name":"Danone Mexique Areas","name1":"Areas","outputs":4,"x":550,"y":160,"wires":[["842ee9ad.066228"],[],[],[]]},{"id":"5f99b0b4.22b4b","type":"Areas","z":"3f02621c.5665f6","name":"Danone Bresil Areas","name1":"Areas","outputs":4,"x":520,"y":160,"wires":[["85312c37.59977"],[],[],[]]},{"id":"aef63688.e9bc9","type":"Areas","z":"769158ac.78d378","name":"Danone Ile de la reunion Areas","name1":"Areas","outputs":4,"x":690,"y":160,"wires":[["90b7b72a.5a1fd"],[],[],[]]},{"id":"de8419a1.1d7fb","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Storage Tanks Area","name1":"Raw Milk Tanks","id_Area":"a377cde8.c4522","Tank_Area_Def_Filling":"b18e42fa.6c13a","Tank_Area_Def_Emptying":"547de4b5.fd79dc","options":{"Filling":[{"label":"b18e42fa.6c13a"},{"label":"6e664130.5eb5a"}],"Emptying":[{"label":"c07a8b8c.fd3498"},{"label":"547de4b5.fd79dc"}]},"outputs":1,"x":1190,"y":180,"wires":[[]]},{"id":"90b7b72a.5a1fd","type":"Area","z":"769158ac.78d378","name":"Danone Ile de la reunion Milk Reception","name1":"Milk Reception","comment":"Milk Reception","Menu":"Milk Reception","id_Factory":"93702a94.f109a8","outputs":3,"x":1200,"y":140,"wires":[[],[],[]]},{"id":"85312c37.59977","type":"Area","z":"3f02621c.5665f6","name":"Danone bresil Milk Reception","name1":"Milk Reception","comment":"Milk Reception","Menu":"Milk Reception","id_Factory":"85ad1aef.a96ca","outputs":3,"x":910,"y":140,"wires":[[],[],[]]},{"id":"842ee9ad.066228","type":"Area","z":"b4609ca3.4471b","name":"Danone Mexique Milk Reception","name1":"Milk Reception","comment":"Milk Reception","Menu":"Milk Reception","id_Factory":"bb243ba2.f2aa4","outputs":3,"x":940,"y":140,"wires":[[],[],[]]},{"id":"40f3d722.85d5b","type":"Area","z":"dc72e474.a84d7","name":"Danone Japon Milk Reception","name1":"Milk Reception","comment":"Milk Reception","Menu":"Milk Reception","id_Factory":"bb243ba2.f2aa4","outputs":3,"x":950,"y":140,"wires":[[],[],[]]},{"id":"19315d51.e69a6b","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Skim Milk Storage Tanks Area","name1":"Skim Milk Tanks","id_Area":"a377cde8.c4522","Tank_Area_Def_Filling":"dfff108.c155ef","Tank_Area_Def_Emptying":"c2b3d245.17855","options":{"Filling":[{"label":"ee88d1b2.8a3388"},{"label":"dfff108.c155ef"}],"Emptying":[{"label":"8377225c.f524f8"},{"label":"c2b3d245.17855"}]},"outputs":1,"x":1190,"y":220,"wires":[[]]},{"id":"db7ee2e8.7c1d08","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Cream Storage Tanks Area","name1":"Cream Tanks","id_Area":"a377cde8.c4522","Tank_Area_Def_Filling":"96ddc8d8.846fc8","Tank_Area_Def_Emptying":"7f27b0b0.8f5558","options":{"Filling":[{"label":"c6420e05.e93428"},{"label":"96ddc8d8.846fc8"}],"Emptying":[{"label":"9375bd6d.c1c458"},{"label":"7f27b0b0.8f5558"}]},"outputs":1,"x":1180,"y":260,"wires":[[]]},{"id":"7ffd76a9.640538","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Storage tank MT001","name1":"MT001","id_Tank_Area":"de8419a1.1d7fb","id_Tank_Def":"e2e8af14.ad5118","x":1640,"y":180,"wires":[[]]},{"id":"7b554d26.0906bc","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Storage tank MT002","name1":"MT002","id_Tank_Area":"de8419a1.1d7fb","id_Tank_Def":"e2e8af14.ad5118","x":2000,"y":180,"wires":[[]]},{"id":"c022737c.381a48","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Storage tank MT003","name1":"MT002","id_Tank_Area":"de8419a1.1d7fb","id_Tank_Def":"e2e8af14.ad5118","x":2360,"y":180,"wires":[[]]},{"id":"421f3404.273924","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Skim Milk Storage tank MT111","name1":"MT111","id_Tank_Area":"19315d51.e69a6b","id_Tank_Def":"e2e8af14.ad5118","x":1640,"y":220,"wires":[[]]},{"id":"e27a7e99.40465","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Skim Milk Storage tank MT112","name1":"MT112","id_Tank_Area":"19315d51.e69a6b","id_Tank_Def":"e2e8af14.ad5118","x":2000,"y":220,"wires":[[]]},{"id":"8da27736.561a18","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Skim Milk Storage tank MT113","name1":"MT113","id_Tank_Area":"19315d51.e69a6b","id_Tank_Def":"e2e8af14.ad5118","x":2360,"y":220,"wires":[[]]},{"id":"b06cd855.6f752","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Skim Milk Storage tank MT114","name1":"MT114","id_Tank_Area":"19315d51.e69a6b","id_Tank_Def":"e2e8af14.ad5118","x":2720,"y":220,"wires":[[]]},{"id":"c99d36a9.8359e","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Cream Storage tank MT101","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1640,"y":260,"wires":[[]]},{"id":"ab7106ad.be14e","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Cream Storage tank MT102","name1":"MT102","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2000,"y":260,"wires":[[]]},{"id":"d1e7e802.e902e","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Cream Storage tank MT103","name1":"MT103","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2360,"y":260,"wires":[[]]},{"id":"dc4cfb84.c64d4","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Cream Storage tank MT104","name1":"MT104","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2720,"y":260,"wires":[[]]},{"id":"bed1e153.543da8","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Yogurt Area","name1":"Yogurt","comment":"Yogurt","Menu":"Yogurt","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":770,"y":500,"wires":[[],[],[]]},{"id":"747d34f6.013d94","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Simphonia Area","name1":"Simphonia","comment":"Simphonia","Menu":"Simphonia","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":790,"y":560,"wires":[[],[],[]]},{"id":"dda84903.c498d","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Cottage Area","name1":"Cottage","comment":"Cottage","Menu":"Cottage","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":780,"y":620,"wires":[[],[],[]]},{"id":"f6e20eac.502e9","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Uf Area","name1":"Uf","comment":"Uf","Menu":"Uf","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":760,"y":680,"wires":[[],[],[]]},{"id":"3273cb16.5ce5f4","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Ski Area","name1":"Ski","comment":"Ski","Menu":"Ski","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":760,"y":740,"wires":[[],[],[]]},{"id":"c0f8203.cf02be","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Gaban Area","name1":"Gaban","comment":"Gaban","Menu":"Gaban","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":770,"y":800,"wires":[[],[],[]]},{"id":"ad6b8e8.c25f7f","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Pudding Area","name1":"Pudding","comment":"Pudding","Menu":"Pudding","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":780,"y":860,"wires":[[],[],[]]},{"id":"4972bc1f.e59584","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Mixing Area","name1":"Mixing","comment":"Mixing","Menu":"Mixing","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":770,"y":920,"wires":[[],[],[]]},{"id":"141f808e.2c5a3f","type":"Area","z":"6af09a6.da22464","name":"Strauss Accos Actimel Area","name1":"Actimel","comment":"Actimel","Menu":"Actimel","id_Factory":"df5b5dab.3dd8a8","outputs":3,"x":780,"y":980,"wires":[[],[],[]]},{"id":"662e7e21.b4029","type":"comment","z":"6af09a6.da22464","name":"Areas","info":"","x":700,"y":100,"wires":[]},{"id":"e0768e26.a7dc28","type":"comment","z":"6af09a6.da22464","name":"Tank Areas","info":"","x":1090,"y":80,"wires":[]},{"id":"a18410e8.04d6d8","type":"comment","z":"6af09a6.da22464","name":"Tanks","info":"","x":1510,"y":100,"wires":[]},{"id":"4af5080f.329218","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Mixing Yogurt Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1180,"y":640,"wires":[[]]},{"id":"7987f55d.5b54bc","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Mixing UF Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1170,"y":680,"wires":[[]]},{"id":"fd90789f.6c964","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos UF Fermentation Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1190,"y":720,"wires":[[]]},{"id":"7fbe4124.ac3ca8","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1170,"y":760,"wires":[[]]},{"id":"d1995212.f19af","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Skim Milk for Ski Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1190,"y":800,"wires":[[]]},{"id":"b33000a0.95395","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1180,"y":840,"wires":[[]]},{"id":"caea7d89.a89d2","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos  Mixing Yogurt Tank YT001","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1630,"y":640,"wires":[[]]},{"id":"98510337.c44b28","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos  Mixing Yogurt Tank YT002","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1990,"y":640,"wires":[[]]},{"id":"440f8dd8.de3c84","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Mixing UF Tank QT621","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1620,"y":680,"wires":[[]]},{"id":"935db247.137f38","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Fermentation Tank QT641","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1640,"y":720,"wires":[[]]},{"id":"8ecd7d74.0fde6","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT321","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1620,"y":760,"wires":[[]]},{"id":"c8ed5236.46cce","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos  Skim Milk for Ski Tank QT412","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1640,"y":800,"wires":[[]]},{"id":"7aefcca9.5bc89c","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT421","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1650,"y":840,"wires":[[]]},{"id":"da3b462c.7e7878","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Mixing UF Tank QT622","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1980,"y":680,"wires":[[]]},{"id":"76f3b1ac.5d63b","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Fermentation Tank QT642","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2000,"y":720,"wires":[[]]},{"id":"16ccf405.e23e84","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT322","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":1980,"y":760,"wires":[[]]},{"id":"fc60c05d.ae22","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT323","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2340,"y":760,"wires":[[]]},{"id":"fd0c9569.3ab028","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT324","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2700,"y":760,"wires":[[]]},{"id":"be32a300.e55e68","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT331","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":3040,"y":760,"wires":[[]]},{"id":"f8858a10.b9c98","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT332","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":3390,"y":760,"wires":[[]]},{"id":"8a765ec.43ddc2","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT333","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":3730,"y":760,"wires":[[]]},{"id":"a6cefba3.1ee868","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT701","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":4070,"y":760,"wires":[[]]},{"id":"be6ed0ee.cc9fe8","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos UF Storage Tank QT702","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":4410,"y":760,"wires":[[]]},{"id":"d0c21c3e.073308","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT422","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2030,"y":840,"wires":[[]]},{"id":"31b57aa7.c39646","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT423","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2410,"y":840,"wires":[[]]},{"id":"857a9652.a8ef6","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT431","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":2790,"y":840,"wires":[[]]},{"id":"5b27ea8e.a5b2ec","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT432","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":3170,"y":840,"wires":[[]]},{"id":"496fb70.ae324c8","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT433","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":3560,"y":840,"wires":[[]]},{"id":"228a8187.1022c6","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT435","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":4320,"y":840,"wires":[[]]},{"id":"9900f057.22e6a","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Ski cream storage Tank QT434","name1":"MT101","id_Tank_Area":"db7ee2e8.7c1d08","id_Tank_Def":"e2e8af14.ad5118","x":3940,"y":840,"wires":[[]]},{"id":"34b2fcb7.9eb164","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Dressing mixing Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1170,"y":900,"wires":[[]]},{"id":"17b16477.457df4","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Cottage Dressing Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1180,"y":940,"wires":[[]]},{"id":"4cb265c5.6c9014","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Cottage VAT Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1160,"y":980,"wires":[[]]},{"id":"16d11ae9.52a80d","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Cottage creamer Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1180,"y":1020,"wires":[[]]},{"id":"bf35d55c.c07c7","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Cottage washer cooler Tanks Area","name1":"Mixing Yogurt Tanks Area","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1190,"y":1060,"wires":[[]]},{"id":"7b415c55.8109ec","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Cottage buffer Tanks Area Area","name1":"Mixing Yogurt Tanks","id_Area":"bed1e153.543da8","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"Filling":[],"Emptying":[]},"outputs":1,"x":1190,"y":1100,"wires":[[]]},{"id":"ef7d93d6.e71ea","type":"Equip","z":"6af09a6.da22464","name":"Strauss Accos Road truck emptying line 1","name1":"Road truck emptying line 1","id_Plc":"212822f2.3aa2be","id_Equip_Def":"e1ec8b97.87eff8","Menu":"Road truck emptying line 1","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"EquipCaract":[{"label":"Flow Maxi","valeur":"10000","type":"flow","unit":"liter/H"}],"FillingFromTank":[{"label":"c45b44e0.5f56c8"}],"EmptyingToTank":[{"label":"b18e42fa.6c13a"}],"FillingFromEquip":[],"EmptyingToEquip":[]},"x":1600,"y":400,"wires":[[]]},{"id":"c02841a7.fb0c5","type":"Equip","z":"6af09a6.da22464","name":"Strauss Accos Road truck emptying line 2","name1":"Road truck emptying line 2","id_Plc":"212822f2.3aa2be","id_Equip_Def":"e1ec8b97.87eff8","Menu":"Road truck emptying line 2","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"EquipCaract":[{"label":"Flow maxi","valeur":"10000","type":"flow","unit":"liter/H"}],"FillingFromTank":[{"label":"5ef31964.a851c8"}],"EmptyingToTank":[{"label":"6e664130.5eb5a"}],"FillingFromEquip":[],"EmptyingToEquip":[]},"x":1950,"y":400,"wires":[[]]},{"id":"e56a7fec.68094","type":"Equip","z":"6af09a6.da22464","name":"Strauss Accos Prepasto MP11","name1":"Prepasto MP11","id_Plc":"212822f2.3aa2be","id_Equip_Def":"befc3524.e33278","Menu":"Prepasto MP11","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"EquipCaract":[{"label":"Flow maxi","valeur":"10000","type":"flow","unit":"liter/H"}],"FillingFromTank":[{"label":"c07a8b8c.fd3498"}],"EmptyingToTank":[{"label":"ee88d1b2.8a3388"},{"label":"c6420e05.e93428"}],"FillingFromEquip":[],"EmptyingToEquip":[]},"x":2260,"y":400,"wires":[[]]},{"id":"c86c86e1.e75708","type":"Equip","z":"6af09a6.da22464","name":"Strauss Accos Prepasto MP21","name1":"Prepasto MP21","id_Plc":"212822f2.3aa2be","id_Equip_Def":"befc3524.e33278","Menu":"Prepasto MP21","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"","options":{"EquipCaract":[{"label":"Flow maxi","valeur":"10000","type":"flow","unit":"liter/H"}],"FillingFromTank":[{"label":"547de4b5.fd79dc"}],"EmptyingToTank":[{"label":"dfff108.c155ef"},{"label":"96ddc8d8.846fc8"}],"FillingFromEquip":[],"EmptyingToEquip":[]},"x":2560,"y":400,"wires":[[]]},{"id":"e1c4c34b.8ac3a","type":"Equips","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Reception Equipement","name1":"Raw Milk Reception Equipement","id_Plc":"212822f2.3aa2be","outputs":4,"noerr":0,"x":1190,"y":400,"wires":[[],[],[],[]]},{"id":"68b85bf8.11492c","type":"Plcs","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Reception Plcs","id_Area":"a377cde8.c4522","outputs":1,"x":1180,"y":500,"wires":[[]]},{"id":"212822f2.3aa2be","type":"Plc","z":"6af09a6.da22464","name":"Strauss Accos Raw Milk Reception Plc","Plc_Brand":"siemens","Plc_Connection":"ethernet","Plc_Slot":"0","Plc_Rack":"2","Plc_Ip":"192.168.0.0","id_Server":"320a2f12.048bb","id_Area":"a377cde8.c4522","x":1580,"y":500,"wires":[["d5ed4d05.774c08"]]},{"id":"d5ed4d05.774c08","type":"Fifo","z":"6af09a6.da22464","name":"","id_Plc":"","conf_DB":"0","conf_DB_offset":"0","id_Fifo_Def":"","x":1900,"y":500,"wires":[[]]},{"id":"5ef79426.8c1634","type":"Tank_Area","z":"6af09a6.da22464","name":"Strauss Accos Road Truck Area","name1":"Raw Milk Tanks","id_Area":"a377cde8.c4522","Tank_Area_Def_Filling":"","Tank_Area_Def_Emptying":"c45b44e0.5f56c8","options":{"Filling":[],"Emptying":[{"label":"c45b44e0.5f56c8"},{"label":"5ef31964.a851c8"}]},"outputs":1,"x":1150,"y":140,"wires":[[]]},{"id":"c2da785c.7dd048","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Road truck line 1","name1":"Road truck line 1","id_Tank_Area":"5ef79426.8c1634","id_Tank_Def":"e2e8af14.ad5118","x":1590,"y":140,"wires":[[]]},{"id":"ca268475.366688","type":"Tank","z":"6af09a6.da22464","name":"Strauss Accos Road truck line 2","name1":"Road truck line 2","id_Tank_Area":"5ef79426.8c1634","id_Tank_Def":"e2e8af14.ad5118","x":1950,"y":140,"wires":[[]]},{"id":"9368b6a2.2727b","type":"Check_Modif_Flow","z":"525eb504.32348c","name":"","x":430,"y":160,"wires":[[]]},{"id":"93dc7a31.9687f","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":160,"wires":[["9368b6a2.2727b"]]},{"id":"5a135395.914f04","type":"Create_Global","z":"525eb504.32348c","name":"","x":430,"y":380,"wires":[[]]},{"id":"efde836d.770f48","type":"Get_Computer_Info","z":"525eb504.32348c","name":"","x":450,"y":440,"wires":[[]]},{"id":"2cfc67dc.4caa9","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":380,"wires":[["5a135395.914f04"]]},{"id":"44da2914.ec36f","type":"inject","z":"525eb504.32348c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":440,"wires":[["efde836d.770f48"]]},{"id":"9b885410.f8e0d8","type":"comment","z":"6af09a6.da22464","name":"Equipements","info":"","x":1090,"y":340,"wires":[]},{"id":"5eebd920.750f2","type":"comment","z":"6af09a6.da22464","name":"Plcs","info":"","x":1070,"y":460,"wires":[]}]